/*
 * Estilos de tu proyecto
 */


 header{
background-color:#2c3e50;
position: fixed;
margin-top: 0;
width: 100%;
height: 15%;
}

header > div .menu-list-container{
  margin-top:   20px;
  display: inline-block;
}

header > div > .menu-item{
  margin-top: 20px 40px;
  margin-left: 300px;
  width: 150px;
  font-family: Montserrat
  font-weight: 400;
  color: white;
}

 .fisrt-bar{
display: inline-block;
padding-top: 15px;
padding-bottom: 15px;
margin-right: 16px;
 }

.first-bar{
  font-family: Montserrat;
  font-weight: 700;
  text-transform:uppercase;
  color:white;
  border: none;
}

  .group-bar{
  font-family: Montserrat;
  font-weight: 400;
  text-transform:uppercase;
  color:white;
  display:inline;
  }.

.container{
  width: 100%;
  height:100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;

}
.container:before, .container:after{
  content: " ";
  display: table;
}
#section-1{
  text-aling:center;
  display: block;
  color: white;
  background: #18be9c;
  height: 520px;
  }
#section-1{
  padding-top: 80px
}

#section-1 >.img{
  display:inline-block;
  margin:top;
  pading: 40px 40px;
}


.text1.name{
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 700px;
  display: block;
  text-transform: uppercase;
}
hr .star{
  width: 250px;
  margin: 25px auto 30px;
  padding: 0px;
  text-align: center;
  border-top: solid 5px;
  border-color: #fff;
}


img{
  max-width: 100%
  height:auto;
}


  img{
    vertical-align:middle;
  }
*{
  -webkit-box-sizing:border-box;
  -moz-box-sizzing:border-box;
  box-sizing: border-box;
}
*:before, *:after{
  -webkit-box-sizzing:border-box;
  -moz-box-sizzing:border-box;
  box-sizing: border-box;
}


body{ /*definiendo body*/
  margin: 0 auto;
  font-size: 25px;
  font-weight: 400;
  color:#212529;

}

.float-rigth{
  float: rigth;
}
.float-left{
  float:left;
}
